{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "printWidth": 230,
    "semi": false,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none"
}
